---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Content from "../../layouts/Content.astro";

export const getStaticPaths = (async () => {
    const entries = await getCollection('licenses');

    return entries.map(entry => {
        return {
            params: {slug: entry.slug},
            props: {entry: entry}
        }
    })
}) satisfies GetStaticPaths;

const Entry = (await Astro.props.entry.render()).Content;
---

<Content title={Astro.props.entry.data.name}>
    <h1>{Astro.props.entry.data.name}</h1>
    <Entry />
</Content>