---
interface Props {
    severity: "note" | "warning";
}

let severity = Astro.props.severity.charAt(0).toUpperCase() + Astro.props.severity.substring(1);
---

<div class={'alert ' + Astro.props.severity}>
    <div class={`heading ${Astro.props.severity}`}>{severity}</div>

    <div class="content">
        <slot />
    </div>
</div>

<style lang="scss">
    @use '../../styles/variables/colors';
    @use "../../styles/variables/others";
    @use '../../styles/variables/fonts';
    
    .alert {
        padding: 1em;
        border: others.$border-default;
        margin-bottom: 1em;

        &.note {
            @include colors.property('border-color', 'info');
        }

        &.warning {
            @include colors.property('border-color', 'warning');
        }
    }

    .heading {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        font-family: fonts.$titles;
        font-weight: bold;
    }
</style>
