---
interface Props {
    severity: "note" | "warning";
}

let severity = Astro.props.severity.charAt(0).toUpperCase() + Astro.props.severity.substring(1);
---

<div class={'alert ' + Astro.props.severity}>
    <div class={`heading ${Astro.props.severity}`}>{severity}</div>

    <div class="content">
        <slot/>
    </div>
</div>

<style lang="scss">
    @use '../../styles/variables/colors';
    @use "../../styles/variables/borders";
    @use '../../styles/variables/fonts';

    .alert {
        // Boxing
        padding: 1em;
        margin-bottom: 1em;

        // Style
        border: borders.$default;

        &.note {
            // Style
            @include colors.property('border-color', 'info');
        }

        &.warning {
            // Style
            @include colors.property('border-color', 'warning');
        }
    }

    .heading {
        // Boxing
        margin-bottom: 0.5em;

        // Typography
        font-size: 1.5em;
        font-family: fonts.$titles;
    }
</style>
