---
interface Props {
    direction: 'me' | 'other'
    avatar?: string
}
---

<div class={`${Astro.props.direction}`}>
    <slot />
</div>

<style lang="scss">
    .me {
        color: red;
    }
    
    .other {
        color: green;
    }
    
    div {
        border: 1px solid
    }
</style>