---
import {render, getCollection} from "astro:content";
import Content from "../../layouts/Content.astro";

const Entry = (await render(Astro.props.entry)).Content;
console.log(Entry)

export const getStaticPaths = async function() {
    const entries = await getCollection('entries');
    console.log(entries);

    return entries.map(entry => {
        return {
            params: {slug: entry.data.slug},
            props: {entry: entry}
        }
    })
};
---
<Content title={Astro.props.entry.data.title}>
    <h1>{Astro.props.entry.data.title}</h1>
    <Entry />
</Content>