<div id="hosting">
    <div class="title">Need hosting?</div>
    <p><a rel="sponsored" href="https://www.vadavo.com/hosting">Get <strong>10% OFF</strong> in VADAVO</a> using the <code>IOKODE</code> code.</p>
</div>

<style lang="scss">
    #hosting {
        p {
            // Boxing
            margin: 0;
        }

        a {
            // Boxing
            display: block;
        }

        pre {
            // Boxing
            display: inline;
        }
    }
</style>
