---
import {getCollection} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/Entry/Alert.astro";

type PostsByYear = {
    [year: string]: typeof posts[0][]; // Keys are years, values are arrays of posts.
};

const posts = (await getCollection('spanishLegacyEntries')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

let postsByYear = posts.reduce<PostsByYear>((accumulator, post) => {
    const year = new Date(post.data.publishDate).getFullYear();
    if (!accumulator[year]) {
        accumulator[year] = [];
    }
    accumulator[year].push(post);
    return accumulator;
}, {});
---

<Layout title="Spanish legacy entries archive" description="Archive of Spanish blog posts from IOKode's early days. These entries were originally written in Spanish by Ivan Montilla and are licensed under CC BY 4.0.">
    <h1>Spanish legacy entries archive</h1>
    <Alert severity="note">
        <p>This is a list of entries originally written in Spanish before I started writing in English.</p>
        <p>All these entries were written by <a target="_blank" href="https://github.com/montyclt">Ivan Montilla</a> and are
            licensed under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.en">CC BY 4.0</a>.</p>
    </Alert>
    {Object.entries(postsByYear).reverse().map(([year, yearPosts]) => (
            <section>
                <h2>{year}</h2>
                <ul>
                    {yearPosts.map(post => (
                            <li>
                                <a href={`/posts/legacy/${post.data.slug}`}>{post.data.title}</a>
                            </li>
                    ))}
                </ul>
            </section>
    ))}
</Layout>