@use "./variables/colors";
@use "./variables/devices";
@use "./variables/others";
@use "./variables/fonts";

body {
    font-family: fonts.$body;
    font-size: 16px;
    @include colors.property("background-color", "background");
    @include colors.property("color", "text");
    
    @media (min-width: devices.$tablet) {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fonts.$titles;
}

a {
    text-decoration: none;
    @include colors.property("color", "link");

    &:hover,
    &:focus {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    &.square {
        &:hover,
        &:focus {
            text-decoration: none;
            border: 2px solid;

            padding-left: 10px;
            padding-right: 10px;
            margin-left: -12px;
            margin-right: -12px;

            @include colors.property("border-color", "link");
        }
    }
}

code {
    padding: 0.2em 0.4em;
    @include colors.property('background-color', 'code');
}

blockquote {
    font-style: italic;
    border-left: others.$border-default;
    padding-left: 1em;
    margin-left: 0;
    
    .author {
        font-style: normal;
        
        &:before {
            content: "— by ";
        }
    }
}