@use "../styles/variables/devices";
@use "../styles/variables/fonts";
@use "../styles/global";

body {
    // Boxing
    display: grid;
    margin: 0 auto;
    min-height: 100vh;

    // Grid
    gap: 2em;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto auto;
}

body {
    // Boxing
    max-width: min(100%, 1400px);
    padding-left: 2em;
    padding-right: 2em;

    // Grid
    grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
}

@media (min-width: devices.$desktop) {
    body {
        // Grid
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
                "header header"
                "main aside"
                "footer footer";
    }
}

body > main {
    // Grid
    grid-area: main;
}

body > aside {
    // Boxing
    display: flex;

    // Flex
    flex-direction: column;
    gap: 50px;

    // Grid
    grid-area: aside;

    .title {
        // Boxing
        display: block;
        padding-bottom: 0.5em;

        // Typography
        font-size: 2em;
        font-family: fonts.$titles;
    }
}