<footer>
    <p>
        Posts are written under <a
            href="https://creativecommons.org/licenses/by/4.0/deed.en"
            target="_blank">CC BY 4.0 license</a
        >.
    </p>
    <ul>
        <li><a href="/legal">Legal notice</a></li>
        <li><a href="/rss.xml">RSS Feed</a></li>
    </ul>
</footer>

<style>
    footer {
        grid-area: footer;
        margin-top: 25px;
        text-align: center;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                display: inline;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
</style>
