---
import {defaultLicense} from "../../content/config";
---

<footer>
    <p>Posts are licensed under <a href={defaultLicense.url} target="_blank">{defaultLicense.code}</a>,
        unless otherwise specified in the post.</p>
    <ul>
        <li><a href="/legal">Legal notice</a></li>
        <li><a href="/rss.xml">RSS Feed</a></li>
    </ul>
</footer>

<style lang="scss">
    footer {
        // Boxing
        margin-top: 25px;

        // Grid
        grid-area: footer;

        // Typography
        text-align: center;

        ul {
            // Boxing
            padding: 0;

            // Style
            list-style-type: none;

            li {
                // Boxing
                display: inline;
                margin-right: 5px;
                margin-left: 5px;
            }
        }

        @media print {
            // Boxing
            display: none;
        }
    }
</style>
