<footer>
    <p>
        Posts are written under <a href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank">CC BY 4.0
        license</a>.
    </p>
    <ul>
        <li><a href="/legal">Legal notice</a></li>
        <li><a href="/rss.xml">RSS Feed</a></li>
    </ul>
</footer>

<style lang="scss">
    footer {
        // Boxing
        margin-top: 25px;

        // Grid
        grid-area: footer;

        // Typography
        text-align: center;

        ul {
            // Boxing
            padding: 0;

            // Style
            list-style-type: none;

            li {
                // Boxing
                display: inline;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
</style>
