---
import LogoImage from "./LogoImage.astro";
---

<header>
    <div class="logo">
        <LogoImage/>
    </div>

    <ul class="main-links">
        <li><a class="square" href="/">Home</a></li>
        <li><a class="square" href="/archive">Archive</a></li>
        <li><a class="square" href="/archive/spanish-legacy-entries">Spanish legacy entries</a></li>
        <li><a class="square" href="/constitution">Constitution</a></li>
    </ul>

    <ul class="social-links">
        <li><a class="square" href="https://links.iokode.blog/github" target="_blank">GitHub</a></li>
        <li><a class="square" href="https://links.iokode.blog/twitter" target="_blank">X/Twitter</a></li>
        <li><a class="square" href="https://links.iokode.blog/in" target="_blank">LinkedIn</a></li>
    </ul>
</header>

<style lang="scss">
    @use '../../styles/variables/borders';
    @use '../../styles/variables/devices';

    header {
        // Grid
        grid-area: header;

        .logo {
            // Boxing
            max-width: 800px;
            margin: 0 auto;
            padding-top: 2em;

            @media print {
                // Boxing
                max-width: 200px;
                margin: 0 0 0 auto;
                padding: 0;
            }
        }

        .social-links {
            // Boxing
            width: 100%;
            padding: 0;

            // Position
            position: absolute;
            top: 0;
            left: 0;

            // Typography
            text-align: center;

            li {
                // Boxing
                display: inline;
                margin-left: 0.7em;
                margin-right: 0.7em;
                margin-top: 1em;

                // Style
                list-style-type: none;

                // Others
                white-space: nowrap;
            }

            @media print {
                // Boxing
                display: none;
            }
        }

        .main-links {
            // Boxing
            margin-top: -15px;
            padding: borders.$default-numeric 0 0;

            // Typography
            text-align: center;

            li {
                // Boxing
                display: block;
                margin-left: 0.7em;
                margin-right: 0.7em;
                margin-top: 1em;

                // Style
                list-style-type: none;

                // Others
                white-space: nowrap;

                a {
                    // Boxing
                    display: block;
                }

                @media (min-width: devices.$tablet) {
                    // Boxing
                    display: inline;

                    a {
                        // Boxing
                        display: inline;
                    }
                }
            }

            @media (min-width: devices.$tablet) {
                // Boxing
                padding: 0;
            }

            @media print {
                // Boxing
                display: none;
            }
        }
    }
</style>
