---
import DarkLightImage from "../Utils/DarkLightImage.astro";
import darkIOKodeLogo from '../../assets/images/dark/iokode.svg'
import lightIOKodeLogo from '../../assets/images/light/iokode.svg'
---

<header>
    <div class="logo">
        <DarkLightImage alt="IOKode logo" dark={darkIOKodeLogo} light={lightIOKodeLogo} />
    </div>

    <ul class="main-links">
        <li><a class="square" href="/">Home</a></li>
        <li><a class="square" href="/archive">Archive</a></li>
        <li><a class="square" href="/archive/legacy-spanish">Spanish legacy entries</a></li>
        <li><a class="square" href="/constitution">Constitution</a></li>
        <li><a class="square" href="/authors">Authors</a></li>
    </ul>

    <ul class="social-links">
        <li><a class="square" href="https://links.iokode.blog/github" target="_blank">GitHub</a></li>
        <li><a class="square" href="https://links.iokode.blog/twitter" target="_blank">X/Twitter</a></li>
        <li><a class="square" href="https://links.iokode.blog/in" target="_blank">LinkedIn</a></li>
    </ul>
</header>

<style lang="scss">
    @use '../../styles/variables/devices';
    header {
        grid-area: header;

        .logo {
            margin: 0 auto;
            max-width: 800px;
            padding-top: 2em;
        }

        .slogan {
            text-align: center;
            display: none;
            font-size: 2.5em;
            font-family: "Dosis", sans-serif;

            @media (min-width: devices.$tablet) {
                display: block;
            }
        }

        .social-links {
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 100%;

            li {
                white-space: nowrap;
                list-style-type: none;
                display: inline;
                margin-left: 0.7em;
                margin-right: 0.7em;
                margin-top: 1em;
            }
        }

        .main-links {
            padding: 0;
            margin-top: -15px;
            text-align: center;

            li {
                white-space: nowrap;
                list-style-type: none;
                display: block;

                margin-left: 0.7em;
                margin-right: 0.7em;
                margin-top: 1em;

                @media (min-width: devices.$tablet) {
                    display: inline;
                }
            }
        }
    }
</style>
