<div id="hosting">
    <span class="title">Need hosting?</span>
    <a href="https://www.vadavo.com/hosting">Get 10% OFF in VADAVO</a> using the <pre>IOKODE</pre> code.
</div>

<style is:global lang="scss">
    #hosting {
        a {
            display: block;
        }

        pre {
            display: inline;
        }
    }
</style>
