---
let sites = [
    {
        name: "Koalite",
        url: "https://blog.koalite.com/",
    },
    {
        name: "Variable not found",
        url: "https://www.variablenotfound.com/",
    },
    {
        name: "Xurxodev",
        url: "https://xurxodev.com/",
    },
    {
        name: "CarmenIsCoding",
        url: "https://carmeniscoding.wordpress.com/",
    },
];
---

<div id="partners">
    <div class="title">I also read…</div>
    <ul>
        {sites.map(site => <li><a target="_blank" href={site.url}>{site.name}</a></li>)}
    </ul>
</div>

<style lang="scss">
    ul {
        margin: 0;
    }
</style>