<div id="partners">
    <div class="title">Friend blogs</div>
    <ul>
        <li>
            <a target="_blank" href="https://blog.koalite.com/"
                >Koalite</a
            >
        </li>
        <li>
            <a
                target="_blank"
                href="https://www.variablenotfound.com/"
                >Variable not found</a
            >
        </li>
        <li>
            <a target="_blank" href="https://xurxodev.com/"
                >Xurxodev</a
            >
        </li>
    </ul>
</div>

<style lang="scss">
    ul {
        margin: 0;
        padding-left: 0;
    }
    
    li {
        list-style-type: none;
    }
</style>