---
import {getPartners} from "../../helpers/github";
import {repository} from "../../content/config";

let partners = await getPartners(repository);
---

<div id="partners">
    <div class="title">I also read…</div>
    <ul>
        {Object.entries(partners).map(([name, url]) => <li><a target="_blank" href={url}>{name}</a></li>)}
    </ul>
</div>

<style lang="scss">
    ul {
        // Boxing
        margin: 0;
    }
</style>