---
import {repository} from "../../content/config.ts";

type Partners = {
    string: string;
}

let response = await fetch(`https://raw.githubusercontent.com/${repository}/refs/heads/main/partners.json`);
let partners: Partners = await response.json();
---

<div id="partners">
    <div class="title">I also read…</div>
    <ul>
        {Object.entries(partners).map(([name, url]) => <li><a target="_blank" href={url}>{name}</a></li>)}
    </ul>
</div>

<style lang="scss">
    ul {
        // Boxing
        margin: 0;
    }
</style>