---
import {getCollection} from "astro:content";

let partners = (await getCollection('partners')).map(partner => partner.data);
---

<div id="partners">
    <div class="title">I also read…</div>
    <ul>
        {partners.map(partner => <li><a target="_blank" href={partner.url}>{partner.name}</a></li>)}
    </ul>
</div>

<style lang="scss">
    ul {
        // Boxing
        margin: 0;
    }
</style>