---
import PostLink from "../components/PostLink.astro";
import Layout from "../layouts/Layout.astro";
import { Author, PostResume } from "../models/Post";
---

<Layout title="El blog de desarrollo de software de Ivan Montilla - IOKode">
    <div class="posts">
        <PostLink
            post={new PostResume(
                "El patrón Unit of Work",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "HTML semántico es más que utilizar etiquetas semánticas",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "El patrón Unit of Work",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "El patrón Unit of Work",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
    </div>

    <div class="pagination">
        <ul>
            <li><a href="#">Entradas más antiguas</a></li>
            <li><a href="#">Entradas más recientes</a></li>
        </ul>
    </div>
</Layout>

<style lang="scss">
    @use "../styles/variables/colors";

    .posts {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
</style>
