---
import PostLink from "../components/PostLink.astro";
import Layout from "../layouts/Layout.astro";
import { Author, PostResume } from "../models/Post";
---

<Layout title="El blog de desarrollo de software de Ivan Montilla - IOKode">
    <div class="posts">
        <PostLink
            post={new PostResume(
                "The Unit of Work pattern",
                "uow-pattern",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "Semantic HTML is more than writting semantic tags",
                "semantic",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "How to avoid teamwork problems",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "El patrón Unit of Work",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
        <PostLink
            post={new PostResume(
                "El patrón Unit of Work",
                "el-patron",
                new Date(),
                new Author("Ivan Montilla", "montyclt"),
                2
            )}
        />
    </div>
</Layout>

<style lang="scss">
    @use "../styles/variables/colors";

    .posts {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>
