---
import PostLink from "../components/PostLink.astro";
import Layout from "../layouts/Layout.astro";
import { Author, PostResume } from "../models/Post";
import { getLastPosts } from "../services/GitHubService";

const posts = await getLastPosts()
---

<Layout title="The opinionated tech blog">
    <div class="posts">
        {posts.map(post => <PostLink post={post} />)}
    </div>
</Layout>

<style lang="scss">
    @use "../styles/variables/colors";

    .posts {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>
