---
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

const entry = await getEntry("essentials", "why");
const WhyRendered = (await render(entry)).Content;
---

<Layout title={'The "why"'}>
    <h1>The "why"</h1>
    <WhyRendered />
</Layout>
