$light-background: #EEE;
$dark-background: #222;

$light-text-color: hsl(285, 85%, 25%);
$dark-text-color: hsl(285, 1%, 99%);

$light-primary: hsl(285, 100%, 35%);
// $light-warning: hsl()

$dark-primary: hsl(285, 70%, 70%);

$light-border: $light-primary;
$dark-border: $dark-primary;

$light-muted: #111;
$dark-muted: #EEE;

@mixin property($property, $color) {
    $light-color: light-#{$color};
    $dark-color: dark-#{$color};

    #{$property}: $light-color;

    @media (prefer-color-scheme: dark) {
        #{$property}: $dark-color;
    }
}