$light: (
        text: hsl(285, 25%, 25%),
        link: hsl(285, 100%, 35%),
        code: #fff,
        background: #eee,
        muted: #111,
);

$dark: (
        text: hsl(285, 15%, 95%),
        link: hsl(285, 70%, 70%),
        code: #000,
        background: #222,
        muted: #eee,
);

:root {
    @each $name, $value in $light {
        --color-#{$name}: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @each $name, $value in $dark {
            --color-#{$name}: #{$value};
        }
    }
}