$light: (
        text: hsl(285, 25%, 25%),
        link: hsl(285, 100%, 35%),
        code: #fff,
        background: #eee,
        muted: #111,
);

$dark: (
        text: hsl(285, 15%, 95%),
        link: hsl(285, 70%, 70%),
        code: #000,
        background: #222,
        muted: #eee,
);

@function get-color($theme, $color-name) {
    @if $theme == light {
        @return map-get($light, $color-name);
    } @else if $theme == dark {
        @return map-get($dark, $color-name);
    } @else {
        @error "Invalid theme: #{$theme}. Only 'light' or 'dark' are allowed.";
    }
}

@mixin property($property, $color-name) {
    & {
        #{$property}: get-color(light, $color-name);
    }

    @media (prefers-color-scheme: dark) {
        #{$property}: get-color(dark, $color-name);
    }
}
