---
import Partners from "../components/Layout/Partners.astro";
import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";

import "../styles/normalize.css";
import "../styles/layout.scss";
import "../styles/global.scss";

interface Props {
    title: string;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="generator" content={Astro.generator}/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <slot name="meta"/>
        <link rel="icon" type="image/x-icon" href="/favicon.svg"/>
        <link rel="sitemap" href="/sitemap-index.xml"/>
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="IOKode's RSS Feed"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <slot name="head"/>
        <title>{Astro.props.title} - IOKode</title>
    </head>
    <body>
        <Header/>

        <aside>
            <Partners/>
        </aside>

        <main>
            <slot/>
        </main>

        <Footer/>
    </body>
</html>
