---
import Partners from "../components/Layout/Partners.astro";
import Hosting from "../components/Layout/Hosting.astro";
import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";

import "../styles/normalize.css";
import "../styles/layout.scss";
import "../styles/global.scss";

interface Props {
    title: string;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="generator" content={Astro.generator}/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <!-- I want other meta tags coming from posts here -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <title>{Astro.props.title} - IOKode</title>
    </head>
    <body>
        <Header/>

        <aside>
            <Hosting/>
            <Partners/>
        </aside>

        <main>
            <slot/>
        </main>

        <Footer/>
    </body>
</html>
