---
import RecommendedSites from "../components/Layout/RecommendedSites.astro";
import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";

import "../styles/normalize.css";
import "../styles/layout.scss";
import "../styles/global.scss";

interface Props {
    title: string;
    description: string;
}

const isHome = Astro.url.pathname === '/';
const pageTitle = isHome ? 'IOKode' : Astro.props.title + " — IOKode";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta name="generator" content={Astro.generator}/>
        <meta name="description" content={Astro.props.description}/>
        <meta name="robots" content="all"/>
        <link rel="icon" type="image/x-icon" href="/favicon.svg"/>
        <link rel="sitemap" href="/sitemap-index.xml"/>
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="IOKode's RSS Feed"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <title>{pageTitle}</title>
        <slot name="head"/>
    </head>
    <body>
        <Header/>

        <aside>
            <RecommendedSites/>
        </aside>

        <main>
            <slot/>
        </main>

        <Footer/>
    </body>
</html>
